BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Right
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignTrailingComments: true
IncludeBlocks: Regroup
